<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pypar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div>
        <div class="container">
            <div class="row" style="margin:0px;">
                <div class="col-md-12" style="padding:0px;">
                    <nav class="navbar navbar-default custom-header">
                        <div class="container-fluid">
                            <div class="navbar-header"><a class="navbar-brand" href="#"><img class="img-responsive" src="assets/img/KD-White.png" width="auto" height="auto" style="width:43px;margin:-26px;margin-right:-27px;margin-top:-32px;margin-left:-33px;margin-bottom:-31px;"><span style="margin-left:27px;font-family:'News Cycle', sans-serif;color:rgb(253,250,254);">PyPr</span>  </a>
                                <button
                                    class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-collapse">
                                <ul class="nav navbar-nav links">
                                    <li role="presentation"><a href="#">Overview </a></li>
                                    <li role="presentation"><a href="#">Surveys </a></li>
                                    <li role="presentation"><a href="#"> Reports</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span><img src="assets/img/avatar.jpg" class="dropdown-image"></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li role="presentation"><a href="#">Settings </a></li>
                                            <li role="presentation"><a href="#">Payments </a></li>
                                            <li role="presentation" class="active"><a href="#">Logout </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row body-flex" style="margin:0px;">
                <div class="col-md-6 col-md-4 sidebar-nav" style="padding:0px;"><div class="col-sm-3 col-lg-2">
    <nav class="navbar navbar-inverse navbar-fixed-side">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Brand</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Overview</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Apple</a></li>
                    <li><a href="#">Microsoft</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Walmart</a></li>
                    <li><a href="#">Lockheed Martin</a></li>
                    <li><a href="#">Tesla</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div></div>
                <div class="col-md-6 col-md-fill" style="padding:0px;">
                    <div class="card">
                        <div class="card-image"><img src="assets/img/Stock Sample Image.jpg" width="100%"><span class="card-title" style="color:rgb(1,0,0);">GooGle</span></div>
                        <div class="card-content">
                            <p>Prediction:</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image"><img class="img-responsive" src="assets/img/Stock Sample Image2.jpg" width="100%"><span class="card-title" style="color:rgb(0,0,0);">Apple</span></div>
                        <div class="card-content">
                            <p>Cards for display in portfolio style material design by Google. </p>
                        </div>
                        <div class="card-action"><a href="#" target="_blank">Link</a><a href="#" target="_blank">Link</a><a href="#" target="_blank">Link</a><a href="#" target="_blank">Link</a><a href="#" target="_blank">Link</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>