<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pypar</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header"><a class="navbar-brand hidden" href="#"> </a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                            <div
                                class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav main-nav">
                                    <li role="presentation"><a href="#" id="home">Home </a></li>
                                    <li role="presentation"><a href="#">About </a></li>
                                    <li role="presentation"><a href="#">Contact </a></li>
                                    <li role="presentation"><a href="#">Sitemap </a></li>
                                    <li role="presentation"><a href="#">Declaimer </a></li>
                                </ul>
                        </div>
                </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-4">
                <div>
                    <div class="overlay"></div>
                    <div id="sidebar" class="active">
                        <div class="sidebar-header">
                            <div id="close-sidebar"><i class="glyphicon glyphicon-chevron-left"></i></div>
                            <h2>Sidebar</h2>
                        </div>
                        <ul>
                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                            <li><a href="#submenu" class="collapsed" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-link"></i> Link</a>
                                <ul class="list-unstyled collapse" id="submenu" aria-expanded="false">
                                    <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                    <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                    <li><a href="#submenu2" class="collapsed" data-toggle="collapse" aria-expanded="false"><i class="glyphicon glyphicon-link"></i> Link</a>
                                        <ul class="list-unstyled collapse" id="submenu2" aria-expanded="false">
                                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                        </ul>
                                    </li>
                                    <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                    <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                            <li> <a href="#"><i class="glyphicon glyphicon-link"></i> Link</a></li>
                        </ul>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Restinguet citius, si ardentem acceperit. Itaque eos id agere.</p>
                        <hr>
                        <form>
                            <div class="form-group"><label class="control-label">Label</label><input class="form-control" type="text"></div>
                            <div class="form-group"><label class="control-label">Label</label><input class="form-control" type="text"></div><button class="btn btn-default btn-block" type="button">Button</button></form>
                        <hr>
                        <p>"full-width" class to element :</p><img class="img-responsive full-width" src="https://source.unsplash.com/FSujKeCRoKA/260x160" alt="image"></div>
                    <div id="content"></div>
                </div>
            </div>
            <div class="col-md-6 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p class="dashboard-greeting">Hello, Noob</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-4"></div>
                    <div class="col-md-12 col-md-4"></div>
                    <div class="col-md-12 col-md-4"></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>